# R and RStudio files to ignore
.Rhistory
.RData
.Rproj.user
.Rbuildignore
# MacOS file to ignore
.DS_Store
# Quarto folder to ignore
.quarto
data-raw/dime.zip
data-raw/dime/
*.htlm
*_file
data/dime.csv
data-raw/nurses-stress*

